{% extends "base.html" %}
 

{% block content %}
<section class="container">
  <div style="margin-bottom: 20px;">
    <a href="/" class="btn-secondary">
      ← Volver a calcular mi deuda
    </a>
  </div>

  <h2>Opciones para reducir tu deuda</h2>

  <div class="card" style="margin-top:15px; border:1px">
    <h3>Mejora tus finanzas</h3>
    <p>Aprende a manejar correctamente tus finanzas y huye de la pérdida de tú dinero</p>
    <a href="https://go.hotmart.com/I105587530N" class="btn-primary" style="margin-top:15px; border:1px">Deja de perder dinero</a>
  </div>

  <div class="card" style="margin-top:15px; border:1px">
    <h3>Sal de tú deuda</h3>
    <p>Rompe las cadenas de la deuda y estabiliza tus finanzas</p>
    <a href="https://go.hotmart.com/X105587612I?dp=1" class="btn-primary" style="margin-top:15px; border:1px">Deja de preocuparte por tus finanzas</a>
  </div>

  <div class="card" style="margin-top:15px; border:1px">
    <h3>Apps de control financiero</h3>
    <p>Organiza mejor tus pagos y evita intereses.</p>
    <a href="TU_LINK_AFILIADO" class="btn-primary" style="margin-top:15px; border:1px">Ver apps</a>
  </div>
</section>
{% endblock %}